.tree {
  display: grid;
  place-content: center;
  place-items: center;
  &__list {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(30rem, 100%), 1fr));
  }
}
