header {
  height: 4rem;
  border-bottom: 1px solid black;
}

main {
  width: 1280px;
  margin: 0 auto;
  margin-top: 2rem;
}

footer {
  position: fixed;
  bottom: 0;
  border-top: 1px solid black;
  height: 4rem;
  width: 100vw;
}

.header__nav,
footer p {
  display: flex;
  place-content: center;
  place-items: center;
  height: 100%;
  gap: 10px;
}
