.tree-node {
  list-style: none;
  position: relative;
  width: 18.75rem;
  &__root {
    cursor: pointer;
    &::before {
      position: absolute;
      left: -0.75rem;
      top: 0.3125rem;
      font-size: 0.625rem;
    }
  }

  &__leaf {
    &::before {
      content: '•';
      position: absolute;
      left: -0.5rem;
      font-size: 1rem;
    }
  }

  .tree-node__root.collapsed-icon::before {
    content: '▶';
  }
  .tree-node__root.expanded-icon::before {
    content: '▼';
  }

  &__nested {
    list-style: none;
  }
}
