<li #treeNode class="tree-node">
  <div [attr.aria-label]="buttonAriaLabel" (keyup.enter)="node.children && flipExpansion()"
    (keyup.space)="node.children && flipExpansion()" role="button" [tabindex]="node.children? 0: -1"
    (click)="node.children && flipExpansion()" [class.expanded-icon]="expanded" [class.collapsed-icon]="!expanded"
    [ngClass]="!node.children? 'tree-node__leaf': 'tree-node__root'">{{ node.name }}
  </div>
  <ul role="group" *ngIf="expanded && node.children && node.children.length> 0" class="tree-node__nested">
    <li role="treeitem" *ngFor="let child of node.children">
      <atl-tree-node [expanded]="expanded" [node]="child"></atl-tree-node>
    </li>
  </ul>
</li>